<!-- 导航栏 -->
<div class="navigation-bar">
    <!-- 顶部导航 -->
    <div class="nav-top">
        <a href="index.html" class="nav-link">
            <div class="menu-button-area">
                <div class="icon-container">
                    <md-icon>home</md-icon>
                </div>
                <span class="button-label">主页</span>
            </div>
        </a>
        <a href="tasks.html" class="nav-link">
            <div class="menu-button-area">
                <div class="icon-container">
                    <md-icon>task</md-icon>
                </div>
                <span class="button-label">任务</span>
            </div>
        </a>

        <a href="calendar.html" class="nav-link">
            <div class="menu-button-area">
                <div class="icon-container">
                    <md-icon>calendar_month</md-icon>
                </div>
                <span class="button-label">日历</span>
            </div>
        </a>

        <a href="settings.html" class="nav-link">
            <div class="menu-button-area">
                <div class="icon-container">
                    <md-icon>settings</md-icon>
                </div>
                <span class="button-label">设置</span>
            </div>
        </a>
    </div>

    <!-- 底部导航 -->
    <div class="nav-bottom">
        <md-icon-button class="theme-toggle">
            <md-icon class="theme-icon">dark_mode</md-icon>
        </md-icon-button>
    </div>
</div>